<div class="container about-main-container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="hero-text display-3">The Recipe Blog</h1>
      <p class="hero-paragraph lead">
        Embark on a culinary journey with us, where each recipe tells a story of
        flavors, traditions, and creativity
      </p>
    </div>
  </div>
</div>

<div class="container about-project-container">
  <div class="row">
    <div class="col-lg-6">
      <div class="about-project-container-left text-center">
        <h2 class="display-4">ABOUT OUR APP</h2>
        <i class="bi bi-three-dots"></i>
        <p class="lead">
          "Our project revolves around a dynamic recipe blog, offering detailed
          instructions and enabling users to easily search for their favorite
          recipes, fostering culinary exploration and enjoyment."
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="about-project-container-right">
        <img src="/img/new-food.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center mb-5 team-title">Meet Our Team</h2>
  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card text-center">
        <img
          src="/img/Dipanshu.jpg"
          class="card-img-top mx-auto mt-3"
          alt="Dipanshu Patel"
          style="width: 200px"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Dipanshu Patel</h5>
          <p class="card-text text-muted">Front-End/Java Developer</p>
          <p class="card-text text-muted">
            Crafting code with precision, Dipahsu brings Java mastery to the
            table. With flair and finesse, our front-end guru complements,
            weaving magic into pixels and lines.
          </p>
          <div class="icons-container d-flex justify-content-center">
            <a
              href="https://github.com/Dipanshupatel221"
              class="bi bi-github mx-2"
            ></a>
            <a
              href="https://www.linkedin.com/in/dipanshu-patel-080513243/"
              class="bi bi-linkedin mx-2"
            ></a>
            <a
              href="https://twitter.com/Dipansh00664388"
              class="bi bi-twitter-x mx-2"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card text-center">
        <img
          src="/img/Lokendra.jpg"
          class="card-img-top mx-auto mt-3"
          alt="Lokendra Sahare"
          style="width: 200px"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Lokendra Sahare</h5>
          <p class="card-text text-muted">Front-End/Back-End Developer</p>
          <p class="card-text text-muted">
            Lokendra, a maestro of backend intricacies, orchestrates seamless
            functionality. Coupled with front-end finesse, his creations are a
            testament to skill and artistry.
          </p>
          <div class="icons-container d-flex justify-content-center">
            <a
              href="https://github.com/lokendra-sahare"
              class="bi bi-github mx-2"
            ></a>
            <a
              href="https://www.linkedin.com/in/lokendra-sahare-7ab577261/"
              class="bi bi-linkedin mx-2"
            ></a>
            <a
              href="https://twitter.com/lokendra_612"
              class="bi bi-twitter-x mx-2"
            ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card text-center">
        <img
          src="/img/Bhumika.jpg"
          class="card-img-top mx-auto mt-3"
          alt="Lokenra Sahare"
          style="width: 200px"
        />
        <div class="card-body">
          <h5 class="card-title font-weight-bold">Bhumika Patel</h5>
          <p class="card-text text-muted">Web Developer</p>
          <p class="card-text text-muted">
            Bhumika, weaving web wonders with her expertise in development
            intricacies. Crafting digital experiences, her mastery brings
            visions to vibrant life.
          </p>
          <div class="icons-container d-flex justify-content-center">
            <a
              href="https://github.com/Bhumikapatel302"
              class="bi bi-github mx-2"
            ></a>
            <a
              href="https://www.linkedin.com/in/bhumika-patel-a9920b300?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BbjBL4gdESvOvk9fe6yY2gg%3D%3D"
              class="bi bi-linkedin mx-2"
            ></a>
            <a href="#" class="bi bi-twitter-x mx-2"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
